.violation-thumbnail {
  display: inline-block;
  padding-left: 5px;
}

img.thumbnail {
  height: 100px;
}

tr {
  cursor: pointer;
}

.violation-list {
  width: 40%;
  padding-top: 11.5px;
  float: left;
}

.violation-overview {
  width: 60%;
  padding: 0 8px;
  float: left;
}

.full-screen {
  width: 100%;
}

.active-violation {
  background: #f5f5f5;
}
