<table *ngIf="!error" class="table table-striped">
  <thead>
    <tr>
      <th>UID</th>
      <th>Live</th>
      <th>Updated</th>
      <th>Uptime</th>
      <th>Free Mem</th>
      <th>Temperature</th>
      <th>In Polygon</th>
      <th>GPS HDOP</th>
      <th>GPS Satellites</th>
      <th>VPN IP</th>
      <th>Hostname</th>
      <th>Version</th>
      <th>First Reg</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let piStatus of piStatuses; let i = index">
      <td>{{ piStatus.uid }}</td>
      <td>{{ piStatus.connected ? 'Yes' : 'No' }}</td>
      <td>{{ piStatus.updatedAt | amTimeAgo }}</td>
      <td>{{ piStatus.uptime | duration }}</td>
      <td>{{ piStatus.freemem | formatFileSize }}</td>
      <td>{{ piStatus.temp }}</td>
      <td>{{ piStatus.gps.inPolygon }}</td>
      <td>{{ piStatus.gps.hdop }}</td>
      <td>{{ piStatus.gps.satelites }}</td>
      <td>{{ piStatus.vpnIp }}</td>
      <td>{{ piStatus.hostname }}</td>
      <td>{{ piStatus.version }}</td>
      <td>{{ piStatus.createdAt | amTimeAgo }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="error">
    <div class="alert alert-warning" role="alert">
        <strong>
          Error ocured
        </strong>
        {{ error }}
    </div>
</div>
