<table *ngIf="!error" class="table table-striped">
  <thead>
    <tr>
      <th sortBy="hostname" [currentSort]="sortBy" [currentDirection]="sortDirection">Hostname</th>
      <th sortBy="connected" [currentSort]="sortBy" [currentDirection]="sortDirection">Live</th>
      <th sortBy="updatedAt" [currentSort]="sortBy" [currentDirection]="sortDirection">Updated</th>
      <th sortBy="uptime" [currentSort]="sortBy" [currentDirection]="sortDirection">Uptime</th>
      <th sortBy="freemem" [currentSort]="sortBy" [currentDirection]="sortDirection">Free Mem</th>
      <th sortBy="temp" [currentSort]="sortBy" [currentDirection]="sortDirection">Temperature</th>
      <th>In Polygon</th>
      <th>GPS HDOP</th>
      <th>GPS Satellites</th>
      <th sortBy="vpnIp" [currentSort]="sortBy" [currentDirection]="sortDirection">VPN IP</th>
      <th sortBy="version" [currentSort]="sortBy" [currentDirection]="sortDirection">Version</th>
      <th sortBy="createdAt" [currentSort]="sortBy" [currentDirection]="sortDirection">First Reg</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let piStatus of sortedPiStatuses; let i = index">
      <td>{{ piStatus.hostname }}</td>
      <td>{{ piStatus.connected ? 'Yes' : 'No' }}</td>
      <td>{{ piStatus.updatedAt | amTimeAgo }}</td>
      <td>{{ piStatus.uptime | myDuration }}</td>
      <td>{{ piStatus.freemem | myFormatFileSize }}</td>
      <td>{{ piStatus.temp }}</td>
      <td>{{ piStatus.gps ? piStatus.gps.inPolygon : '-' }}</td>
      <td>{{ piStatus.gps ? piStatus.gps.hdop : '-' }}</td>
      <td>{{ piStatus.gps ? piStatus.gps.satelites : '-' }}</td>
      <td>{{ piStatus.vpnIp }}</td>
      <td>{{ piStatus.version }}</td>
      <td>{{ piStatus.createdAt | amTimeAgo }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="error">
    <div class="alert alert-warning" role="alert">
        <strong>
          Error ocured
        </strong>
        {{ error }}
    </div>
</div>
