<div *ngIf="!shot">Loading...</div>
<div *ngIf="shot">
<!-- Title -->
<h4>
  {{shot.plate}}
  <small>{{ shot.shotAt | isoDate }}</small>
</h4>
<div>
  <p class="form-control-static"><gps [coords]="shot.gps"></gps></p>
</div>
<!--Image with map  -->
<div class="shot-image-box">
  <div
    leaflet
    [leafletOptions]="leafletOptions"
    [leafletLayers]="layers"
    [leafletCenter]="centerPosition"
  >
  </div>
  <a href="/api/images/{{shot.image}}" target="_blank" download>
    <img src="/api/images/{{shot.image}}"/>
  </a>
</div>
<!-- Actions sections -->
<div class="shot-actions btn-group">
  <button class="btn btn-default" (click)='saveShot()'>Edit</button>
  <button class="btn btn-warning" (click)='deleteShot(shot._id)'>Delete</button>
  <button class="btn btn-default" (click)='addToWhitelist(shot.plate)'>Add to Whitelist</button>
  <button class="btn btn-primary" (click)='createViolation()'>Create Violation</button>
</div>

<!-- JSON Dump  -->
<div style="white-space: pre;">Raw data: <small>{{shot | json}}</small></div>
