tr {
    cursor: pointer;
}

.active-shot {
    background: #f5f5f5;
}

.shots-action-bar {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 40%;
    overflow: hidden;
    padding: 10px 15px;
    border-right: 1px solid #dddddd;
}

.shot-list {
    position: absolute;
    top: 118px;
    bottom: 0;
    left: 0;
    width: 40%;
    overflow: auto;
    border-right: 1px solid #dddddd;
}

.shot-overview {
    position: absolute;
    top: 64px;
    bottom: 0;
    right: 0;
    width: 60%;
    overflow: auto;
    padding: 0 15px;
}

.pagination-control {
    padding: 0 15px;
}

.checkbox-cell {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.checkbox-cell input,
.checkbox-cell input:after {
    margin: 0;
    vertical-align: middle;
}
